[Unit]
Description=Polkadot Node

[Service]
ExecStart=/usr/local/bin/polkadot \
         --name {{ project|default('project') }}-sv-public-{{ groups['public'].index(inventory_hostname) }} \
         --chain={{ chain }} \
         --pruning=archive \
         {% if hostvars[inventory_hostname].telemetryUrl is defined and hostvars[inventory_hostname].telemetryUrl|length %}
         --telemetry-url {{ hostvars[inventory_hostname].telemetryUrl }}
         {% else %}
         --no-telemetry
         {% endif %}

Restart=always

[Install]
WantedBy=multi-user.target
