[Unit]
Description=Polkadot Node

[Service]
ExecStart=/usr/local/bin/polkadot \
         --name w3f-sv-public-{{ groups['public'].index(inventory_hostname) }} \
         --chain={{ chain }} \
         --no-telemetry

Restart=always

[Install]
WantedBy=multi-user.target