---
dependency:
  name: galaxy
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: polkadot-validator-validator-node
    image: ubuntu:focal
    groups:
      - validator
provisioner:
  name: ansible
  lint:
    name: ansible-lint
  inventory:
    host_vars:
      polkadot-validator-validator-node:
        polkadot_network_id: ksmcc3
verifier:
  name: testinfra
  lint:
    name: flake8
