[Unit]
Description=Polkadot Dummy Node

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/polkadot \
         --name polkadot-dummy \
         --validator \
         --chain={{ chain }} 

[Install]
WantedBy=multi-user.target
