[Unit]
Description=Centrifuge Chain Dummy Node

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/centrifuge-chain \
         --name polkadot-dummy \
         --validator \
         --base-path /home/polkadot/data \
         --chain {{ polkadot_network_id }}

[Install]
WantedBy=multi-user.target
