node_modules
build/*
ansible/inventory
ansible/**/__pycache__
config/*
!config/main.sample.json
!config/main.template.json
yarn-error.log
.env
public_keyfile
public_keyfile.pub
validator_keyfile
validator_keyfile.pub
credentials.json
