node_modules
build/*
ansible/inventory
ansible/**/__pycache__
yarn-error.log
.env
public_keyfile
public_keyfile.pub
validator_keyfile
validator_keyfile.pub
credentials.json
config/*
!config/*template*
!config/*sample*
