[Interface]
PrivateKey = {{ private_key.stdout }}
ListenPort = {{ vpn_port }}
SaveConfig = true
Address = {{ vpnpeer_address }}/{{ vpnpeer_cidr_suffix }}

{% if inventory_hostname in groups['validator'] %}
{% for peer in groups['public'] %}
[Peer]
PublicKey = {{ hostvars[peer].vpn_public_key }}
AllowedIPs = {{ hostvars[peer].vpnpeer_address }}/32
Endpoint = {{ peer }}:{{ vpn_port }}
{% endfor %}
{% endif %}