[Interface]
PrivateKey = {{ vpn_private_key }}
ListenPort = {{ vpn_port }}
SaveConfig = false
Address = {{ vpnpeer_address }}/{{ vpnpeer_cidr_suffix }}

{% for peer in groups['validator']|list + groups['public']|list %}
{% if hostvars[peer].vpnpeer_address != vpnpeer_address %}
[Peer]
PublicKey = {{ hostvars[peer].vpn_public_key }}
AllowedIPs = {{ hostvars[peer].vpnpeer_address }}/32
Endpoint = {{ peer }}:{{ vpn_port }}
{% endif %}
{% endfor %}
