[validator]
247.75.107.237

[validator:vars]
ansible_user=root
vpnpeer_address=10.0.0.1
vpnpeer_cidr_suffix=24

[public1]
64.93.77.93


[public1:vars]
ansible_user=ubuntu
vpnpeer_address=10.0.0.2
vpnpeer_cidr_suffix=24

[public2]
50.81.184.50

[public2:vars]
ansible_user=w3fadmin
vpnpeer_address=10.0.0.3
vpnpeer_cidr_suffix=24

[public3]
45.243.244.130

[public3:vars]
ansible_user=w3fadmin
vpnpeer_address=10.0.0.4
vpnpeer_cidr_suffix=24

[public:children]
public1
public2
public3
