[validator-0]
147.75.76.65

[validator-0:vars]
ansible_user=root
vpnpeer_address=10.0.0.1
vpnpeer_cidr_suffix=24
telemetryUrl=wss://mi.private.telemetry.backend/


[validator:children]
validator-0


[public-0]
18.184.100.247

[public-0:vars]
ansible_user=ubuntu
vpnpeer_address=10.0.0.2
vpnpeer_cidr_suffix=24
telemetryUrl=wss://mi.private.telemetry.backend/

[public-1]
40.81.189.214

[public-1:vars]
ansible_user=w3fadmin
vpnpeer_address=10.0.0.3
vpnpeer_cidr_suffix=24
telemetryUrl=wss://mi.private.telemetry.backend/

[public-2]
35.190.164.158

[public-2:vars]
ansible_user=w3fadmin
vpnpeer_address=10.0.0.4
vpnpeer_cidr_suffix=24
telemetryUrl=wss://mi.private.telemetry.backend/


[public:children]
public-0
public-1
public-2

[all:vars]
project=w3f
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ConnectTimeout=15'
polkadot_binary_url=https://github.com/w3f/polkadot/releases/download/v0.6.2/polkadot
