[Unit]
Description=Polkadot Node

[Service]
ExecStart=/usr/local/bin/polkadot \
         {%- if inventory_hostname in groups['validator'] %}
         --name w3f-sv-private \
         --validator \
         --listen-addr=/ip4/{{ hostvars[inventory_hostname].vpnpeer_address }}/tcp/30333 \
         {% for reserved_node in groups['public'] %}
         --reserved-nodes /ip4/{{ hostvars[reserved_node].vpnpeer_address }}/tcp/30333 \
         {% endfor %}
         {%- else %}
         --name w3f-sv-public-{{ hostvars[inventory_hostname].index }}
         {%- endif %}
         --chain={{ chain }}

Restart=always

[Install]
WantedBy=multi-user.target