[Unit]
Description=Polkadot Node

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/polkadot \
         --name {{ project|default('project') }}-sv-validator-{{ groups['validator'].index(inventory_hostname) }} \
         --validator \
         --listen-addr=/ip4/{{ hostvars[inventory_hostname].vpnpeer_address }}/tcp/30333 \
         --reserved-only \
         {% for reserved_node in groups['public'] %}
         --reserved-nodes /ip4/{{ hostvars[reserved_node].vpnpeer_address }}/tcp/30333/p2p/{{ hostvars[reserved_node].p2p_peer_id }} \
         {% endfor %}
         --chain={{ chain }} \
         {% if hostvars[inventory_hostname].telemetryUrl is defined and hostvars[inventory_hostname].telemetryUrl|length %}
         --telemetry-url {{ hostvars[inventory_hostname].telemetryUrl }}
         {% else %}
         --no-telemetry
         {% endif %}

Restart=always

[Install]
WantedBy=multi-user.target