{# --- PREPARE VARIABLES #}
{% set nodeName = hostvars[inventory_hostname].nodeName|default(None) %}
{% set execution = hostvars[inventory_hostname].execution|default(None) %}
{% set wasmExecution = hostvars[inventory_hostname].wasmExecution|default(None) %}
{% set telemetryUrl = hostvars[inventory_hostname].telemetryUrl|default(None) %}
{% set enableReverseProxy = hostvars[inventory_hostname].enableReverseProxy|default(None) %}
{% set loggingFilter = hostvars[inventory_hostname].loggingFilter|default(None) %}
{% set basePath = hostvars[inventory_hostname].basePath|default(None) %}
{% set additionalFlags = hostvars[inventory_hostname].additionalFlags|default(None) %}
{# ## Legacy/deprecated flags #}
{% if wasmExecution is none %}
  {% set wasmExecution = hostvars[inventory_hostname].wasm_execution|default(None) %}
{% endif %}
{% if basePath is none %}
  {% set basePath = hostvars[inventory_hostname].base_path|default(None) %}
{% endif %}
{% set additionalCommonFlags = hostvars[inventory_hostname].polkadot_additional_common_flags|default(None) %}
{% set additionalValidatorFlags = hostvars[inventory_hostname].polkadot_additional_validator_flags|default(None) %}
{# --- #}
[Unit]
Description=Polkadot Node

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/polkadot \
  {% if execution is not none and execution|length %}
  --execution {{ execution }} \
  {% endif %}
  {% if nodeName is not none and nodeName|length %}
  --name {{ nodeName }} \
  {% else %}
  --name {{ project|default('project') }}-sv-validator-{{ groups['validator'].index(inventory_hostname) }} \
  {% endif %}
  {% if wasmExecution is not none and wasmExecution|length %}
  --wasm-execution {{ wasmExecution }} \
  {% else %}
  --wasm-execution Compiled \
  {% endif %}
  {% if telemetryUrl is not none and telemetryUrl|length %}
  --telemetry-url '{{ telemetryUrl }} 1' \
  {% else %}
  --no-telemetry \
  {% endif %}
  {% if enableReverseProxy is not none and enableReverseProxy %}
  --public-addr=/ip4/{{ hostvars[inventory_hostname].public_ip.json.ip }}/tcp/{{ proxy_port }} \
  {% endif %}
  {% if loggingFilter is not none and loggingFilter|length %}
  -l{{ loggingFilter }} \
  {% endif %}
  {% if basePath is not none and basePath|length %}
  --base-path '{{ basePath }}' \
  {% endif %}
  {% if additionalFlags is not none and additionalFlags|length %}
  {{ additionalFlags }} \
  {% endif %}
  {# --- DEPRECATED --- #}
  {% if additionalCommonFlags is not none and additionalCommonFlags|length %}
  {{ additionalCommonFlags }} \
  {% endif %}
  {% if additionalValidatorFlags is not none and additionalValidatorFlags|length %}
  {{ additionalValidatorFlags }} \
  {% endif %}
  {# --- #}
  --validator \
  --chain={{ chain }} \
  --listen-addr=/ip4/127.0.0.1/tcp/{{ p2p_port }} \
  --rpc-methods=Unsafe

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
